.navbar-default {
background-color: #f1c40f;
}
section, section.success{color: rgb(26, 36, 47); background: #fff;}
header {
	color: rgb(0, 0, 0);
	background-color: #fff;
}
header .container {padding-top: 60px;}
.navbar>.container .navbar-brand{float: none; font-size: 1.6em;}
.navbar>.container .navbar-header{float: none; text-align: center;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	font-weight: normal;
	text-transform: none;
}
.navbar>.container .navbar-brand:hover, .navbar>.container-fluid .navbar-brand:hover{
	color:rgb(26, 36, 47);
}
.navbar-fixed-top.navbar-shrink{padding: 20px 0;}
.navbar-default .navbar-nav>li>a{font-size: 12px;}
.navbar-default .navbar-nav>li>a:hover{color: rgb(26, 36, 47);}
header .intro-text .name {
	font-weight: normal;
	text-transform: none;
}
.fa-plane{font-size: 15em;}
hr.star-primary{border-color: rgb(26, 36, 47);}
hr.star-primary:after{color: #f1c40f;}

/* Les Packs */
.container a.item-pack{
	background-color: #ecf0f1;
	min-height: 250px;
	display: block;
	color: rgb(26, 36, 47);
	border: 4px solid rgb(26, 36, 47);
	border-radius: 4px;
	overflow: hidden;
	padding:0;
	height:300px;
	position: relative;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
header .container a.item-pack:hover{
	text-decoration: none;
	border-color: #f1c40f;
}
header .container a.item-pack:hover .button-discover{
	text-decoration: underline;
}
header .item-pack .name{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 2em;
	font-weight: 700;
}
header .item-pack .title{
	position:absolute;
	width:392px;
	bottom:120px;
}
header .item-pack .button-discover{
	display: block;
	font-size: 0.8em;
	color: #fff;
}
header .item-pack img{margin:0;}
header .operation-plus{
	height: 250px;
	line-height: 290px;
	font-size: 5.5em;
}
header .operation-plus .fa-plus{font-size: 6em;}
header .item-result{
	padding: 50px 0 0 0;
	margin-bottom: 50px;
	font-size: 2.5em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header #subscribe-form{
	margin-top: 50px;
}
header #subscribe-form input#email{
	width: 50%;
	display: inline;
	padding-right: 30px;
	background-color: rgb(220, 228, 236);
}
header #subscribe-form input[type="submit"]{
	margin-top: -4.55px;
	margin-left: -30px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	-o-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	padding: 18.5px 27px;
	background-color: #f1c40f;
	border-color: #f1c40f;
	color: rgb(26, 36, 47);
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

}
header #subscribe-form input[type="submit"]:hover{
	background-color: rgb(215, 170, 15);
	border-color: rgb(231, 186, 15);
}
.pack-item .name{
	background: rgb(220, 228, 236);
	color: rgb(255, 255, 255);
	padding: 5px 7px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.pack-item .pack-link img{border: 1px solid rgb(220, 228, 236);}
.scroll-top{
	display: none;
    width: inherit;
}
.scroll-top:hover{opacity: 1!important;}
.scroll-top .btn{
	width: 100%;
	border-radius: 4px;
	font-size: 15px;
}
.flash{margin-top: 10px;}
.email-error{color:#c0392b;}
.email-valid{color: #27ae60;}

/*
* Thank you page
*/

.step h2{font-size: 2.2em; text-transform: none;}
#thankyou #adhesion-step{
	margin-top: 50px;
}
#adhesion-step p{margin: 10px 0 30px 0;}
#adhesion-step form .col-xs-6, #adhesion-step form .col-xs-12{margin-bottom: 10px;}
#adhesion-step form input[type="submit"]{
	font-size: 1.5em;
}

